<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('include/header.ejs') %>
</head>

<body class="bg-gray-900">
  <section class="text-white body-font">
    <div class="container mx-auto px-4 py-8">
      <div class="lg:w-3/4 mx-auto">
        <div class="my-4 text-center">
          <h1 class="text-4xl font-bold">Hakkımızda</h1>
        </div>
        <div class="flex flex-col sm:flex-row justify-center items-center">
          <div class="sm:w-3/4 sm:mx-auto sm:px-8 sm:py-8 border-t-4 border-b-4 rounded border-red-600">
            <p class="text-lg leading-relaxed text-center  mb-8">
              <%=botName%>, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              <br><br>
              <%=botName%>, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

              <br><br>
              <strong>Bizi tercih ettiğiniz için teşekkür ederiz.</strong>
              <br>
              <%=botName%> Ekibi
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
