
<!DOCTYPE html>
<html lang="en">
<head>
        <%-include('include/header.ejs')%>
</head> 
<body class="bg-gray-900">
    <section class="text-white body-font">
        <div class="container mx-auto px-4 py-8">
          <div class="lg:w-3/4 mx-auto">
            <div class="my-4 text-center">
              <h1 class="text-4xl font-bold">Komutlar</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
              <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                <h2 class="text-2xl font-bold mb-4">/yardım</h2>
                <p class="text-lg mb-4">Botun Yardım Menüsünü Gösterir.</p>
                <code class="text-sm bg-gray-700 rounded p-2">/yardım</code>
              </div>
              <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                <h2 class="text-2xl font-bold mb-4">/ban</h2>
                <p class="text-lg mb-4">Belirlediginiz Kullaniciyi Banlar.</p>
                <code class="text-sm bg-gray-700 rounded p-2">/ban @banlanacakkisi reason</code>
              </div>
              <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                <h2 class="text-2xl font-bold mb-4">/kick</h2>
                <p class="text-lg mb-4">Belirlediginiz Kişiyi Sunucudan Atar.</p>
                <code class="text-sm bg-gray-700 rounded p-2">/kick @atılacakKisi reason</code>
              </div>

            </div>
            <br>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4 ">/yardım</h2>
                  <p class="text-lg mb-4">Botun Yardım Menüsünü Gösterir.</p>
                  <code class="text-sm bg-gray-700 rounded p-2">/yardım</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">/ban</h2>
                  <p class="text-lg mb-4">Belirlediginiz Kullaniciyi Banlar.</p>
                  <code class="text-sm bg-gray-700 rounded p-2">/ban @banlanacakkisi reason</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">/kick</h2>
                  <p class="text-lg mb-4">Belirlediginiz Kişiyi Sunucudan Atar.</p>
                  <code class="text-sm bg-gray-700 rounded p-2">/kick @atılacakKisi reason</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">/kick</h2>
                  <p class="text-lg mb-4">Belirlediginiz Kişiyi Sunucudan Atar.</p>
                  <code class="text-sm bg-gray-700 rounded p-2">/kick @atılacakKisi reason</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">/kick</h2>
                  <p class="text-lg mb-4">Belirlediginiz Kişiyi Sunucudan Atar.</p>
                  <code class="text-sm bg-gray-700 rounded p-2">/kick @atılacakKisi reason</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">/kick</h2>
                  <p class="text-lg mb-4">Belirlediginiz Kişiyi Sunucudan Atar.</p>
                  <code class="text-sm bg-gray-700 rounded p-2">/kick @atılacakKisi reason</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">/kick</h2>
                  <p class="text-lg mb-4">Belirlediginiz Kişiyi Sunucudan Atar.</p>
                  <code class="text-sm bg-gray-700 rounded p-2">/kick @atılacakKisi reason</code>
                </div>
                <!-- Ek komutlar buraya eklenebilir -->
              </div>
          </div>
        </div>
      </section>
      
                
</body>
</html>




